<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date] %highlight([%level]) [%logger{10} %file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="kafkaAppender" class="com.example.kafkalogbackxmlv2.configuration.kafka.KafkaAppender">
        <encoder class="com.example.kafkalogbackxmlv2.configuration.kafka.LayoutKafkaMessageEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>[%date] %highlight([%level]) [%logger{10} %file:%line] %msg%n</pattern>
            </layout>
        </encoder>
        <topic>turkcell.user.payment.info</topic>
        <producerConfig>bootstrap.servers=localhost:9094</producerConfig>
    </appender>

    <appender name="kafkaAppender2" class="com.example.kafkalogbackxmlv2.configuration.kafka.KafkaAppender">
        <encoder class="com.example.kafkalogbackxmlv2.configuration.kafka.LayoutKafkaMessageEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>[%date] %highlight([%level]) [%logger{10} %file:%line] %msg%n</pattern>
            </layout>
        </encoder>
        <topic>turkcell.user.payment.error</topic>
        <producerConfig>bootstrap.servers=localhost:9094</producerConfig>
    </appender>

        <logger name="org.apache.kafka" level="INFO"/>
    <logger name="com.example.kafkalogbackxmlv2.service" level="INFO">
        <appender-ref ref="kafkaAppender" />
    </logger>
    <logger name="com.example.kafkalogbackxmlv2.exception.GeneralExceptionAdvisor" level="ERROR">
        <appender-ref ref="kafkaAppender2" />
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>


</configuration>
